In [ ]:
4import numpy as np  # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import io

In [ ]:
#importando o dataset (https://archive.ics.uci.edu/ml/machine-learning-databases/iris/)
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
df = pd.read_csv(url) # le o csv e coloca em uma estrutura de dados denominada dataframe

In [ ]:
df.shape #número de linhas e colunas do dataset

(149, 5)

In [ ]:
df.info() #informações básicas do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [ ]:
df.head(10) #uma amostra do dataset

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa
9  5.4  3.7  1.5  0.2  Iris-setosa

In [ ]:
df.columns = ['SepalL','SepalW','PetalL','PetalW','especie'] #alterando o nome das colunas

In [ ]:
df['SepalL'] #mostrando apenas uma coluna

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: SepalL, Length: 149, dtype: float64

In [ ]:
# Calculo de Frequência .value_counts()
df['SepalL'].value_counts()

5.0    10
6.3     9
6.7     8
5.1     8
5.7     8
5.8     7
5.5     7
6.4     7
5.6     6
5.4     6
6.1     6
6.0     6
4.9     6
6.5     5
4.8     5
6.2     4
7.7     4
6.9     4
5.2     4
4.6     4
4.4     3
5.9     3
7.2     3
6.8     3
4.7     2
6.6     2
4.3     1
7.0     1
4.5     1
7.1     1
7.6     1
7.3     1
5.3     1
7.4     1
7.9     1
Name: SepalL, dtype: int64

In [ ]:
#fatiando o data set, o iloc trabalha com indices [inicio:fim, inicio:fim] sendo o primeiro parâmetro linhas e o segundo colunas
df.iloc[4:8,3:5]

   PetalW      Species
4     0.4  Iris-setosa
5     0.3  Iris-setosa
6     0.2  Iris-setosa
7     0.2  Iris-setosa

In [ ]:
#aqui estou fatiando passando linhas e colunas específicas em dois arrays linhas[2,3,7,8], colunas [3,4]
df.iloc[[2,3,7,8],[3,4]]

   PetalW      Species
2     0.2  Iris-setosa
3     0.2  Iris-setosa
7     0.2  Iris-setosa
8     0.1  Iris-setosa

In [ ]:
df.iloc[0] #linha indice 0

SepalL             4.9
SepalW             3.0
PetalL             1.4
PetalW             0.2
Species    Iris-setosa
Name: 0, dtype: object

In [ ]:
df.iloc[-1] #última linha

SepalL                5.9
SepalW                3.0
PetalL                5.1
PetalW                1.8
Species    Iris-virginica
Name: 148, dtype: object

In [ ]:
df.loc[:,['PetalL','SepalL']] #fatiando com .loc, este metódo trabalha com os nomes dos atributos e objetos

In [ ]:
df.loc[df['PetalL']>4] #aplicando uma condição a seleção

In [ ]:
df.mean() #média

In [ ]:
df['PetalL'].mean() #média de um atributo específico

In [ ]:
df.mode() #calculo da moda

In [ ]:
df['SepalW'].mode() #moda de um atributo específico

In [ ]:
df['SepalW'].value_counts() #contando a ocorrência de cada valor do atributo SepalW

In [ ]:
df.max() #valor máximo

In [ ]:
df.min() #valor minimo

In [ ]:
df.median() #mediana

In [ ]:
df.std() #desvio padrão

In [ ]:
df.corr() #matriz de correlação

In [ ]:
df.sum() #soma de todos os objetos para cada atributo

In [ ]:
df['SepalL'].sum() #soma dos valores de um atributo específico

In [ ]:
df.isna().sum() #contando o número de atribulos vazios de cada atribulo (neste caso específico nenhum)

In [ ]:
df.describe() #resumo estatístico do dataset

In [ ]:
import matplotlib.pyplot as plt #importando a biblioteca
#import seaborn as sns
#%matplotlib inline

#sns.set()

#from sklearn.mixture import GaussianMixture
#from matplotlib.colors import LogNorm
#from matplotlib.ticker import MaxNLocator

In [ ]:
plt.scatter(df['PetalL'],df['PetalW'] , c=df['Species'].astype("category").cat.codes.values, cmap="spring"); #gráfico de dispersão
plt.title("Pink = Setosa, Orange = Versicolor, Yellow = Virginica")
plt.xlabel("Petal Length CM")
plt.ylabel("Petal Width CM")

In [ ]:
#o código abaixo gera o mesmo gráfico acima, fiz apenas para mostrar o que é que o trecho c=df['Species'].astype("category").cat.codes.values está fazendo
#o parâmetro c é para definir a cor dos pontos vc pode passar uma cor ou um array de cores
#o methodo astype("category") transforma o tipo do atributo para categórico, em seguida o método cat.codes transforma as categorias em números, quer dizer, Setosa,Versicolor,Virginica, vira 0,1,2,
#em seguida é usado o metodo values para pegar tudo, gerando um array com 150 valores, um para cada ponto
plt.scatter(df['PetalL'],df['PetalW'] ,c=[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]);
plt.title("Pink = Setosa, Orange = Versicolor, Yellow = Virginica")
plt.xlabel("Petal Length CM")
plt.ylabel("Petal Width CM")

In [ ]:
plt.hist(df['PetalL'], bins=10, facecolor='red', alpha=0.5) #histograma
plt.title("Histograma")
plt.xlabel("contagem")
plt.ylabel("Petal Length CM")
plt.show()
#saveimg('foo.png') #salvando a imagem no disco

In [ ]:
plt.figure(figsize=(15, 6),facecolor='w')
plt.boxplot([df['PetalL'],df['PetalW'],df['SepalL'],df['SepalW']]) #histograma
plt.title("Boxplot para os 4 atributos")
plt.xlabel("Atributos")
plt.ylabel("Valores dos atributos")
plt.show()
#saveimg('foo.png') #salvando a imagem no disco

In [ ]:
x= list(range(0,100)) #cria uma lista com números de 0 a 99
y= x
plt.plot(x,y)
plt.title("Gráfico da Reta y=x")
plt.xlabel("x")
plt.ylabel("y")
plt.show()

In [ ]:
x= list(range(0,1000)) #cria uma lista com números de 0 a 99
y= [4*n*n for n in x] # list compreehesion iterando sobre a lista x
plt.plot(x,y)
plt.title("Gráfico da Parábola y=4x^2")
plt.xlabel("x")
plt.ylabel("y")
plt.show()

In [ ]:
x= np.arange(0,100) #cria uma lista com números de 0 a 99 usando a numpy
y= 4*x*x 
plt.plot(x,y)
plt.title("Gráfico da Parábola y=4x^2")
plt.xlabel("x")
plt.ylabel("y")
plt.show()

In [ ]:
x= np.arange(0,10,0.01) #cria uma lista com números de 0 a 50 com intervalos de 0.01
y= np.sin(x) 
plt.figure(figsize=(15, 6),facecolor='w')
plt.plot(x,y)
plt.title("Gráfico y=seno(x)")
plt.xlabel("x")
plt.ylabel("y")
plt.show()